USE [master]
GO
/****** Object:  Database [presupuesto]    Script Date: 21/04/2017 21:58:17 ******/
CREATE DATABASE [presupuesto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'presupuesto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\presupuesto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'presupuesto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\presupuesto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [presupuesto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [presupuesto]
GO
USE [presupuesto]
GO
/****** Object:  Table [dbo].[recuperarPass]    Script Date: 21/04/2017 21:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recuperarPass](
	[fechahorasolicitud] [varchar](150) NULL,
	[codigoRecuperacion] [varchar](150) NULL,
	[user_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario]    Script Date: 21/04/2017 21:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](150) NULL,
	[password] [varchar](150) NULL,
	[nombrecompleto] [varchar](150) NULL,
	[nombreusuario] [varchar](150) NULL,
	[fecha] [varchar](150) NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[recuperarPass]  WITH CHECK ADD  CONSTRAINT [FK_recuperarPass_usuario] FOREIGN KEY([user_id])
REFERENCES [dbo].[usuario] ([user_id])
GO
ALTER TABLE [dbo].[recuperarPass] CHECK CONSTRAINT [FK_recuperarPass_usuario]
GO
USE [master]
GO
